In [34]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2024.csv")

In [35]:
df =df.dropna(subset=["2P%", "3P%", "FT%"])

In [36]:
df.isna().sum()

Rk          1
Player      0
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         0
3P          1
3PA         1
3P%         0
2P          1
2PA         1
2P%         0
eFG%        0
FT          1
FTA         1
FT%         0
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    590
dtype: int64

In [38]:
df_shoot= df[["Player", "2P%", "3P%","FT%",]]

In [39]:
df_shoot["Value2pts"] = df_shoot["2P%"] *2
df_shoot["Value3pts"]= df_shoot["3P%"] *3
df_shoot["ValueLF"]= df_shoot["FT%"] * 1

C:\Users\carlf\AppData\Local\Temp\ipykernel_11636\950475953.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_shoot["Value2pts"] = df_shoot["2P%"] *2
C:\Users\carlf\AppData\Local\Temp\ipykernel_11636\950475953.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_shoot["Value3pts"]= df_shoot["3P%"] *3
C:\Users\carlf\AppData\Local\Temp\ipykernel_11636\950475953.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_shoot["ValueLF"]= df_shoot["FT%"] * 1

In [40]:
df_shoot.columns

Index(['Player', '2P%', '3P%', 'FT%', 'Value2pts', 'Value3pts', 'ValueLF'], dtype='object')

In [41]:
import pandas as pd

def add_ordered_dict_column(df, cols, new_col_name):
    """
    Ajoute une colonne contenant des dictionnaires ordonnés des valeurs 
    des colonnes spécifiées, triées de la plus grande à la plus petite.

    Parameters:
    - df (pd.DataFrame): Le DataFrame d'origine.
    - cols (list): Liste des colonnes à inclure dans le dictionnaire.
    - new_col_name (str): Nom de la nouvelle colonne à ajouter.

    Returns:
    - pd.DataFrame: Le DataFrame avec la nouvelle colonne ajoutée.
    """
    def create_ordered_dict(row):
        # Crée un dictionnaire trié en fonction des valeurs
        return dict(sorted(((col, row[col]) for col in cols), key=lambda x: x[1], reverse=True))

    # Ajoute la nouvelle colonne
    df[new_col_name] = df.apply(create_ordered_dict, axis=1)
    return df

# Exemple d'utilisation
data = {
    'Value2pts': [5, 12, 8],
    'Value3pts': [7, 10, 9],
    'ValueLF': [3, 15, 6]
}
df = pd.DataFrame(data)

# Ajout de la nouvelle colonne avec la fonction
cols_to_order = ['Value2pts', 'Value3pts', 'ValueLF']
df = add_ordered_dict_column(df_shoot, cols_to_order, 'OrderedValues')

print(df)

                      Player    2P%    3P%    FT%  Value2pts  Value3pts  \
0                Joel Embiid  0.556  0.388  0.883      1.112      1.164
1                Luka Dončić  0.573  0.382  0.786      1.146      1.146
2      Giannis Antetokounmpo  0.645  0.274  0.657      1.290      0.822
3    Shai Gilgeous-Alexander  0.576  0.353  0.874      1.152      1.059
4              Jalen Brunson  0.516  0.401  0.847      1.032      1.203
..                       ...    ...    ...    ...        ...        ...
721             Usman Garuba  0.200  0.000  0.500      0.400      0.000
722             E.J. Liddell  1.000  0.000  1.000      2.000      0.000
723               Pete Nance  0.000  1.000  0.000      0.000      3.000
724            Maxwell Lewis  0.250  0.111  0.667      0.500      0.333
735           League Average  0.545  0.366  0.784      1.090      1.098

     ValueLF                                      OrderedValues
0      0.883  {'Value3pts': 1.1640000000000001, 'Value2pts':...
1      0.786  {'Value2pts': 1.146, 'Value3pts': 1.146, 'Valu...
2      0.657  {'Value2pts': 1.29, 'Value3pts': 0.82200000000...
3      0.874  {'Value2pts': 1.152, 'Value3pts': 1.059, 'Valu...
4      0.847  {'Value3pts': 1.203, 'Value2pts': 1.032, 'Valu...
..       ...                                                ...
721    0.500  {'ValueLF': 0.5, 'Value2pts': 0.4, 'Value3pts'...
722    1.000  {'Value2pts': 2.0, 'ValueLF': 1.0, 'Value3pts'...
723    0.000  {'Value3pts': 3.0, 'Value2pts': 0.0, 'ValueLF'...
724    0.667  {'ValueLF': 0.667, 'Value2pts': 0.5, 'Value3pt...
735    0.784  {'Value3pts': 1.0979999999999999, 'Value2pts':...

[645 rows x 8 columns]

C:\Users\carlf\AppData\Local\Temp\ipykernel_11636\4062030891.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[new_col_name] = df.apply(create_ordered_dict, axis=1)

In [42]:
def calculate_percentages(df, new_col_name, cols):
    """
    Calcule le pourcentage d'individus pour lesquels chaque colonne est en première position.

    Parameters:
    - df (pd.DataFrame): Le DataFrame contenant la colonne des dictionnaires ordonnés.
    - new_col_name (str): Nom de la colonne contenant les dictionnaires ordonnés.
    - cols (list): Liste des colonnes à vérifier.

    Returns:
    - dict: Pourcentage pour chaque colonne.
    """
    first_column_counts = {col: 0 for col in cols}

    for ordered_dict in df[new_col_name]:
        first_col = next(iter(ordered_dict))  # Récupère la première clé du dictionnaire
        if first_col in first_column_counts:
            first_column_counts[first_col] += 1

    total = len(df)
    percentages = {col: (count / total) * 100 for col, count in first_column_counts.items()}
    return percentages

In [44]:
df["OrderedValues"]

0      {'Value3pts': 1.1640000000000001, 'Value2pts':...
1      {'Value2pts': 1.146, 'Value3pts': 1.146, 'Valu...
2      {'Value2pts': 1.29, 'Value3pts': 0.82200000000...
3      {'Value2pts': 1.152, 'Value3pts': 1.059, 'Valu...
4      {'Value3pts': 1.203, 'Value2pts': 1.032, 'Valu...
                             ...
721    {'ValueLF': 0.5, 'Value2pts': 0.4, 'Value3pts'...
722    {'Value2pts': 2.0, 'ValueLF': 1.0, 'Value3pts'...
723    {'Value3pts': 3.0, 'Value2pts': 0.0, 'ValueLF'...
724    {'ValueLF': 0.667, 'Value2pts': 0.5, 'Value3pt...
735    {'Value3pts': 1.0979999999999999, 'Value2pts':...
Name: OrderedValues, Length: 645, dtype: object

In [45]:
percentages = calculate_percentages(df, 'OrderedValues', cols_to_order)

print("Pourcentages des colonnes en première position:", percentages)

Pourcentages des colonnes en première position: {'Value2pts': 52.4031007751938, 'Value3pts': 44.96124031007752, 'ValueLF': 2.635658914728682}

In [47]:
print(df_shoot["Value2pts"].mean())
print(df_shoot["Value3pts"].mean())
print(df_shoot["ValueLF"].mean())

1.0516310077519377
0.9638558139534882
0.7549054263565891

In [50]:
df["3P%"].mean()

0.3212852713178294

In [ ]:
df_shoot.query("Value2pts>=1.4 ")

,Player,2P%,3P%,FT%,Value2pts,Value3pts,ValueLF,OrderedValues
150,Javonte Green,0.729,0.370,0.769,1.458,1.110,0.769,"{'Value2pts': 1.458, 'Value3pts': 1.1099999999..."
206,Obi Toppin,0.706,0.403,0.770,1.412,1.209,0.770,"{'Value2pts': 1.412, 'Value3pts': 1.209, 'Valu..."
245,Dereck Lively II,0.752,0.000,0.506,1.504,0.000,0.506,"{'Value2pts': 1.504, 'ValueLF': 0.506, 'Value3..."
271,Trayce Jackson-Davis,0.704,0.000,0.561,1.408,0.000,0.561,"{'Value2pts': 1.408, 'ValueLF': 0.561, 'Value3..."
402,Doug McDermott,0.769,0.321,0.500,1.538,0.963,0.500,"{'Value2pts': 1.538, 'Value3pts': 0.9630000000..."
403,Dexter Dennis,0.818,0.125,0.333,1.636,0.375,0.333,"{'Value2pts': 1.636, 'Value3pts': 0.375, 'Valu..."
414,Darius Bazley,0.727,0.250,0.833,1.454,0.750,0.833,"{'Value2pts': 1.454, 'ValueLF': 0.833, 'Value3..."
416,Darius Bazley,0.762,0.250,0.833,1.524,0.750,0.833,"{'Value2pts': 1.524, 'ValueLF': 0.833, 'Value3..."
430,Bol Bol,0.717,0.423,0.789,1.434,1.269,0.789,"{'Value2pts': 1.434, 'Value3pts': 1.269, 'Valu..."
461,Kenneth Lofton Jr.,0.739,0.333,0.818,1.478,0.999,0.818,"{'Value2pts': 1.478, 'Value3pts': 0.9990000000..."
480,Robert Covington,1.000,0.250,0.500,2.000,0.750,0.500,"{'Value2pts': 2.0, 'Value3pts': 0.75, 'ValueLF..."
493,Jaxson Hayes,0.754,0.000,0.622,1.508,0.000,0.622,"{'Value2pts': 1.508, 'ValueLF': 0.622, 'Value3..."
533,Sidy Cissoko,0.714,0.083,0.800,1.428,0.249,0.800,"{'Value2pts': 1.428, 'ValueLF': 0.8, 'Value3pt..."
555,Marques Bolden,0.708,0.000,0.750,1.416,0.000,0.750,"{'Value2pts': 1.416, 'ValueLF': 0.75, 'Value3p..."
557,Marques Bolden,0.708,0.000,0.750,1.416,0.000,0.750,"{'Value2pts': 1.416, 'ValueLF': 0.75, 'Value3p..."
572,Charles Bassey,0.744,0.000,0.833,1.488,0.000,0.833,"{'Value2pts': 1.488, 'ValueLF': 0.833, 'Value3..."
650,Mamadi Diakite,0.800,0.000,0.667,1.600,0.000,0.667,"{'Value2pts': 1.6, 'ValueLF': 0.667, 'Value3pt..."
673,Leonard Miller,0.733,0.400,0.500,1.466,1.200,0.500,"{'Value2pts': 1.466, 'Value3pts': 1.2000000000..."
691,Jermaine Samuels,0.750,0.000,1.000,1.500,0.000,1.000,"{'Value2pts': 1.5, 'ValueLF': 1.0, 'Value3pts'..."
692,Jacob Toppin,0.800,0.250,1.000,1.600,0.750,1.000,"{'Value2pts': 1.6, 'ValueLF': 1.0, 'Value3pts'..."
697,Jay Huff,1.000,0.333,1.000,2.000,0.999,1.000,"{'Value2pts': 2.0, 'ValueLF': 1.0, 'Value3pts'..."
722,E.J. Liddell,1.000,0.000,1.000,2.000,0.000,1.000,"{'Value2pts': 2.0, 'ValueLF': 1.0, 'Value3pts'..."

In [4]:
import os
import pandas as pd

def process_and_save_individual_files(folder_path, output_folder):
    """
    Charge chaque fichier CSV dans un dossier, ajoute une colonne 'année' basée sur le nom du fichier,
    et sauvegarde le fichier modifié.

    Parameters:
    - folder_path (str): Chemin vers le dossier contenant les fichiers CSV.
    - output_folder (str): Chemin vers le dossier où enregistrer les fichiers modifiés.

    Returns:
    - None
    """
    # Créer le dossier de destination s'il n'existe pas
    os.makedirs(output_folder, exist_ok=True)

    # Parcourir tous les fichiers dans le dossier
    for filename in os.listdir(folder_path):
        if filename.endswith('.csv'):  # Vérifie que le fichier est un CSV
            file_path = os.path.join(folder_path, filename)
            
            # Lire le fichier CSV
            df = pd.read_csv(file_path)
            
            # Extraire l'année du nom de fichier (e.g., "stat_per_game_1980.csv" -> 1980)
            year = int(filename.split('_')[-1].split('.')[0])
            
            # Ajouter la colonne 'année'
            df['Year'] = year
            
            # Définir le chemin de sortie pour le fichier modifié
            output_file_path = os.path.join(output_folder, filename)
            
            # Sauvegarder le fichier modifié
            df.to_csv(output_file_path, index=False)
            print(f"Fichier traité et sauvegardé : {output_file_path}")

# Exemple d'utilisation
folder_path = r"C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv"
output_folder = r"C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv"

# Appeler la fonction
process_and_save_individual_files(folder_path, output_folder)

Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1980.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1981.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1982.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1983.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1984.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1985.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1986.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1987.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1988.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1989.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1990.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1991.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1992.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1993.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1994.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1995.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1996.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1997.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1998.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_1999.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2000.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2001.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2002.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2003.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2004.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2005.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2006.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2007.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2008.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2009.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2010.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2011.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2012.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2013.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2014.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2015.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2016.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2017.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2018.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2019.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2020.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2021.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2022.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2023.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2024.csv
Fichier traité et sauvegardé : C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2025.csv

In [3]:

import pandas as pd
file_path = r"C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\stats_csv\stat_per_game_2022.csv"
            
# Lire le fichier CSV
df = pd.read_csv(file_path)

# Extraire l'année du nom de fichier (e.g., "stat_per_game_1980.csv" -> 1980)
year = int("stat_per_game_2022.csv".split('_')[-1].split('.')[0])

# Ajouter la colonne 'année'
df['année'] = year
df

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,année
0,1.0,Joel Embiid,27.0,PHI,C,68.0,68.0,33.8,9.8,19.6,...,9.6,11.7,4.2,1.1,1.5,3.1,2.7,30.6,"MVP-2,AS,NBA2",2022
1,2.0,LeBron James,37.0,LAL,C,56.0,56.0,37.2,11.4,21.8,...,7.1,8.2,6.2,1.3,1.1,3.5,2.2,30.3,"MVP-10,AS,NBA3",2022
2,3.0,Giannis Antetokounmpo,27.0,MIL,PF,67.0,67.0,32.9,10.3,18.6,...,9.6,11.6,5.8,1.1,1.4,3.3,3.2,29.9,"MVP-3,DPOY-6,AS,NBA1",2022
3,4.0,Kevin Durant,33.0,BRK,PF,55.0,55.0,37.2,10.5,20.3,...,6.9,7.4,6.4,0.9,0.9,3.5,2.1,29.9,"MVP-10,AS,NBA2",2022
4,5.0,Luka Dončić,22.0,DAL,PG,65.0,65.0,35.4,9.9,21.6,...,8.3,9.1,8.7,1.2,0.6,4.5,2.2,28.4,"MVP-5,AS,NBA1",2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,602.0,Trayvon Palmer,27.0,DET,SG,1.0,0.0,17.0,0.0,1.0,...,2.0,2.0,0.0,0.0,0.0,1.0,2.0,0.0,NaN,2022
809,603.0,Emanuel Terry,25.0,PHO,PF,3.0,0.0,6.0,0.0,1.7,...,2.3,5.0,0.7,0.3,0.0,1.7,1.3,0.0,NaN,2022
810,604.0,Jon Teske,24.0,MEM,C,3.0,0.0,2.7,0.0,0.3,...,0.7,0.7,0.3,0.3,0.0,0.0,0.3,0.0,NaN,2022
811,605.0,M.J. Walker,23.0,PHO,SG,2.0,0.0,4.0,0.0,2.0,...,0.5,0.5,0.5,1.0,0.0,0.0,0.5,0.0,NaN,2022
812,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022

In [11]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\advanced_stats_csv\advanced_stat1995.csv")
df[["Unnamed: 19", "Unnamed: 24"]]

     Unnamed: 19  Unnamed: 24
0            NaN          NaN
1            NaN          NaN
2            NaN          NaN
3            NaN          NaN
4            NaN          NaN
..           ...          ...
467          NaN          NaN
468          NaN          NaN
469          NaN          NaN
470          NaN          NaN
471          NaN          NaN

[472 rows x 2 columns]

In [14]:
df.drop(columns=["Unnamed: 19", "Unnamed: 24"], inplace=True)

KeyError: "['Unnamed: 19', 'Unnamed: 24'] not found in axis"

In [15]:
df.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'Year'],
      dtype='object')

In [12]:
df[["Unnamed: 19", "Unnamed: 24"]].isna().sum()

Unnamed: 19    472
Unnamed: 24    472
dtype: int64

In [42]:
import pandas as pd

# Path to your HTML file
file_path = r"C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\players_salaries\sportsref_download.xls"

# Open the file and read its content
with open(file_path, "r", encoding="utf-8") as file:
    html_content = file.read()

# Parse the HTML content into DataFrames
dfs = pd.read_html(html_content)

# If there are multiple tables, select the one you need
# df = dfs[0]  # For the first table
df = pd.DataFrame(dfs[0])
print(df.head())

C:\Users\carlf\AppData\Local\Temp\ipykernel_28164\2593915735.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dfs = pd.read_html(html_content)

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0       Salary  \
                  Rk             Player                 Tm      2024-25
0                NaN                NaN                NaN          NaN
1                1.0      Stephen Curry                GSW  $55,761,216
2                2.0        Joel Embiid                PHI  $51,415,938
3                3.0       Nikola Jokić                DEN  $51,415,938
4                4.0       Kevin Durant                PHO  $51,179,021

                                                               \
       2025-26      2026-27      2027-28      2028-29 2029-30
0          NaN          NaN          NaN          NaN     NaN
1  $59,606,817  $62,587,158          NaN          NaN     NaN
2  $55,224,526  $57,985,752  $62,624,612  $67,263,472     NaN
3  $55,224,526  $59,033,114  $62,841,702          NaN     NaN
4  $54,708,609          NaN          NaN          NaN     NaN

  Unnamed: 9_level_0
          Guaranteed
0                NaN
1       $177,955,191
2       $227,250,828
3       $165,673,578
4       $105,887,630

In [41]:
df.drop(columns= ['Unnamed: 0_level_0',
            'Unnamed: 1_level_0',
            'Unnamed: 2_level_0',
            'Unnamed: 9_level_0',], inplace=True)
df

C:\Users\carlf\AppData\Local\Temp\ipykernel_28164\2582826642.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df.drop(columns= ['Unnamed: 0_level_0',

          Salary
         2024-25      2025-26      2026-27      2027-28      2028-29 2029-30
0            NaN          NaN          NaN          NaN          NaN     NaN
1    $55,761,216  $59,606,817  $62,587,158          NaN          NaN     NaN
2    $51,415,938  $55,224,526  $57,985,752  $62,624,612  $67,263,472     NaN
3    $51,415,938  $55,224,526  $59,033,114  $62,841,702          NaN     NaN
4    $51,179,021  $54,708,609          NaN          NaN          NaN     NaN
..           ...          ...          ...          ...          ...     ...
458     $278,782          NaN          NaN          NaN          NaN     NaN
459     $268,032     $268,032     $268,032     $268,032     $268,032     NaN
460     $250,000          NaN          NaN          NaN          NaN     NaN
461     $100,000          NaN          NaN          NaN          NaN     NaN
462      $32,596          NaN          NaN          NaN          NaN     NaN

[463 rows x 6 columns]

In [47]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL for NBA player contracts on Basketball Reference
url = "https://www.basketball-reference.com/contracts/players.html"

# Scrape the page content
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# Find the salary table
table = soup.find('table', {'id': 'player-contracts'})

# Convert the table into a DataFrame
df = pd.read_html(str(table))[0]

# Clean the DataFrame (optional)
# df.columns = df.columns.droplevel(0)  # Remove multi-level headers if present
  # Drop rows where Player is NaN

print(df.head())

C:\Users\carlf\AppData\Local\Temp\ipykernel_28164\1525536738.py:16: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0       Salary  \
                  Rk             Player                 Tm      2024-25
0                  1      Stephen Curry                GSW  $55,761,216
1                  2        Joel Embiid                PHI  $51,415,938
2                  3       Nikola Jokić                DEN  $51,415,938
3                  4       Kevin Durant                PHO  $51,179,021
4                  5       Bradley Beal                PHO  $50,203,930

                                                               \
       2025-26      2026-27      2027-28      2028-29 2029-30
0  $59,606,817  $62,587,158          NaN          NaN     NaN
1  $55,224,526  $57,985,752  $62,624,612  $67,263,472     NaN
2  $55,224,526  $59,033,114  $62,841,702          NaN     NaN
3  $54,708,609          NaN          NaN          NaN     NaN
4  $53,666,270  $57,128,610          NaN          NaN     NaN

  Unnamed: 9_level_0
          Guaranteed
0       $177,955,191
1       $227,250,828
2       $165,673,578
3       $105,887,630
4       $103,870,200

In [49]:
df.to_csv(r"C:\Users\carlf\Documents\GitHub\The_Great_MVP_Predictor\players_salaries\players_salaries2.csv", index=False)

In [44]:
df

,Salary_2024-25,Salary_2025-26,Salary_2026-27,Salary_2027-28,Salary_2028-29,Salary_2029-30
0,"$55,761,216","$59,606,817","$62,587,158",NaN,NaN,NaN
1,"$51,415,938","$55,224,526","$57,985,752","$62,624,612","$67,263,472",NaN
2,"$51,415,938","$55,224,526","$59,033,114","$62,841,702",NaN,NaN
3,"$51,179,021","$54,708,609",NaN,NaN,NaN,NaN
4,"$50,203,930","$53,666,270","$57,128,610",NaN,NaN,NaN
...,...,...,...,...,...,...
503,"$250,000",NaN,NaN,NaN,NaN,NaN
504,Salary,Salary,Salary,Salary,Salary,Salary
505,2024-25,2025-26,2026-27,2027-28,2028-29,2029-30
506,"$100,000",NaN,NaN,NaN,NaN,NaN
507,"$32,596",NaN,NaN,NaN,NaN,NaN

In [29]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from time import sleep

def scrape_basketball_contracts():
    # URL cible
    url_start = "https://www.basketball-reference.com/contracts/players.html"
    
    # En-têtes pour simuler un navigateur web
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
    }
    
    try:
        # Faire la requête HTTP
        sleep(2)  # Délai de politesse
        response = requests.get(url_start, headers=headers)
        response.raise_for_status()  # Vérifier si la requête a réussi
        
        # Parser le HTML
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Trouver la table des contrats (id="player-contracts")
        contracts_table = soup.find('table', {'id': 'player-contracts'})
        
        if contracts_table is None:
            raise ValueError("Table des contrats non trouvée sur la page")
            
        # Extraire les en-têtes
        headers = []
        for th in contracts_table.find_all('th'):
            headers.append(th.text.strip())
            
        # Extraire les données
        rows = []
        for tr in contracts_table.find_all('tr')[1:]:  # Ignorer la première ligne (en-têtes)
            row = []
            for td in tr.find_all(['td', 'th']):
                row.append(td.text.strip())
            if row:  # Ignorer les lignes vides
                rows.append(row)
                
        # Créer un DataFrame
        df = pd.DataFrame(rows, columns=headers)
        
        # # Nettoyer les données (supprimer les caractères spéciaux des montants)
        # money_columns = df.columns[df.columns.str.contains('20')]  # Colonnes des années
        # for col in money_columns:
        #     df[col] = df[col].str.replace('$', '').str.replace(',', '').astype(float)
            
        return df
        
    except requests.exceptions.RequestException as e:
        print(f"Erreur lors de la requête HTTP: {e}")
        return None
    except Exception as e:
        print(f"Une erreur s'est produite: {e}")
        return None
df = scrape_basketball_contracts()

Une erreur s'est produite: 774 columns passed, passed data had 10 columns

In [30]:
df

In [22]:
list(df.columns)

['Salary',
 'Unnamed: 1',
 'Rk',
 'Player',
 'Tm',
 '2024-25',
 '2025-26',
 '2026-27',
 '2027-28',
 '2028-29',
 '2029-30',
 'Guaranteed',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 'Unnamed: 32',
 'Salary.1',
 'Unnamed: 34',
 'Rk.1',
 'Player.1',
 'Tm.1',
 '2024-25.1',
 '2025-26.1',
 '2026-27.1',
 '2027-28.1',
 '2028-29.1',
 '2029-30.1',
 'Guaranteed.1',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 'Unnamed: 65',
 'Salary.2',
 'Unnamed: 67',
 'Rk.2',
 'Player.2',
 'Tm.2',
 '2024-25.2',
 '2025-26.2',
 '2026-27.2',
 '2027-28.2',
 '2028-29.2',
 '2029-30.2',
 'Guaranteed.2',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 'Unnamed: 98',
 'Salary.3',
 'Unnamed: 100',
 'Rk.3',
 'Player.3',
 'Tm.3',
 '2024-25.3',
 '2025-26.3',
 '2026-27.3',
 '2027-28.3',
 '2028-29.3',
 '2029-30.3',
 'Guaranteed.3',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 'Unnamed: 131',
 'Salary.4',
 'Unnamed: 133',
 'Rk.4',
 'Player.4',
 'Tm.4',
 '2024-25.4',
 '2025-26.4',
 '2026-27.4',
 '2027-28.4',
 '2028-29.4',
 '2029-30.4',
 'Guaranteed.4',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '100',
 'Unnamed: 164',
 'Salary.5',
 'Unnamed: 166',
 'Rk.5',
 'Player.5',
 'Tm.5',
 '2024-25.5',
 '2025-26.5',
 '2026-27.5',
 '2027-28.5',
 '2028-29.5',
 '2029-30.5',
 'Guaranteed.5',
 '101',
 '102',
 '103',
 '104',
 '105',
 '106',
 '107',
 '108',
 '109',
 '110',
 '111',
 '112',
 '113',
 '114',
 '115',
 '116',
 '117',
 '118',
 '119',
 '120',
 'Unnamed: 197',
 'Salary.6',
 'Unnamed: 199',
 'Rk.6',
 'Player.6',
 'Tm.6',
 '2024-25.6',
 '2025-26.6',
 '2026-27.6',
 '2027-28.6',
 '2028-29.6',
 '2029-30.6',
 'Guaranteed.6',
 '121',
 '122',
 '123',
 '124',
 '125',
 '126',
 '127',
 '128',
 '129',
 '130',
 '131',
 '132',
 '133',
 '134',
 '135',
 '136',
 '137',
 '138',
 '139',
 '140',
 'Unnamed: 230',
 'Salary.7',
 'Unnamed: 232',
 'Rk.7',
 'Player.7',
 'Tm.7',
 '2024-25.7',
 '2025-26.7',
 '2026-27.7',
 '2027-28.7',
 '2028-29.7',
 '2029-30.7',
 'Guaranteed.7',
 '141',
 '142',
 '143',
 '144',
 '145',
 '146',
 '147',
 '148',
 '149',
 '150',
 '151',
 '152',
 '153',
 '154',
 '155',
 '156',
 '157',
 '158',
 '159',
 '160',
 'Unnamed: 263',
 'Salary.8',
 'Unnamed: 265',
 'Rk.8',
 'Player.8',
 'Tm.8',
 '2024-25.8',
 '2025-26.8',
 '2026-27.8',
 '2027-28.8',
 '2028-29.8',
 '2029-30.8',
 'Guaranteed.8',
 '161',
 '162',
 '163',
 '164',
 '165',
 '166',
 '167',
 '168',
 '169',
 '170',
 '171',
 '172',
 '173',
 '174',
 '175',
 '176',
 '177',
 '178',
 '179',
 '180',
 'Unnamed: 296',
 'Salary.9',
 'Unnamed: 298',
 'Rk.9',
 'Player.9',
 'Tm.9',
 '2024-25.9',
 '2025-26.9',
 '2026-27.9',
 '2027-28.9',
 '2028-29.9',
 '2029-30.9',
 'Guaranteed.9',
 '181',
 '182',
 '183',
 '184',
 '185',
 '186',
 '187',
 '188',
 '189',
 '190',
 '191',
 '192',
 '193',
 '194',
 '195',
 '196',
 '197',
 '198',
 '199',
 '200',
 'Unnamed: 329',
 'Salary.10',
 'Unnamed: 331',
 'Rk.10',
 'Player.10',
 'Tm.10',
 '2024-25.10',
 '2025-26.10',
 '2026-27.10',
 '2027-28.10',
 '2028-29.10',
 '2029-30.10',
 'Guaranteed.10',
 '201',
 '202',
 '203',
 '204',
 '205',
 '206',
 '207',
 '208',
 '209',
 '210',
 '211',
 '212',
 '213',
 '214',
 '215',
 '216',
 '217',
 '218',
 '219',
 '220',
 'Unnamed: 362',
 'Salary.11',
 'Unnamed: 364',
 'Rk.11',
 'Player.11',
 'Tm.11',
 '2024-25.11',
 '2025-26.11',
 '2026-27.11',
 '2027-28.11',
 '2028-29.11',
 '2029-30.11',
 'Guaranteed.11',
 '221',
 '222',
 '223',
 '224',
 '225',
 '226',
 '227',
 '228',
 '229',
 '230',
 '231',
 '232',
 '233',
 '234',
 '235',
 '236',
 '237',
 '238',
 '239',
 '240',
 'Unnamed: 395',
 'Salary.12',
 'Unnamed: 397',
 'Rk.12',
 'Player.12',
 'Tm.12',
 '2024-25.12',
 '2025-26.12',
 '2026-27.12',
 '2027-28.12',
 '2028-29.12',
 '2029-30.12',
 'Guaranteed.12',
 '241',
 '242',
 '243',
 '244',
 '245',
 '246',
 '247',
 '248',
 '249',
 '250',
 '251',
 '252',
 '253',
 '254',
 '255',
 '256',
 '257',
 '258',
 '259',
 '260',
 'Unnamed: 428',
 'Salary.13',
 'Unnamed: 430',
 'Rk.13',
 'Player.13',
 'Tm.13',
 '2024-25.13',
 '2025-26.13',
 '2026-27.13',
 '2027-28.13',
 '2028-29.13',
 '2029-30.13',
 'Guaranteed.13',
 '261',
 '262',
 '263',
 '264',
 '265',
 '266',
 '267',
 '268',
 '269',
 '270',
 '271',
 '272',
 '273',
 '274',
 '275',
 '276',
 '277',
 '278',
 '279',
 '280',
 'Unnamed: 461',
 'Salary.14',
 'Unnamed: 463',
 'Rk.14',
 'Player.14',
 'Tm.14',
 '2024-25.14',
 '2025-26.14',
 '2026-27.14',
 '2027-28.14',
 '2028-29.14',
 '2029-30.14',
 'Guaranteed.14',
 '281',
 '282',
 '283',
 '284',
 '285',
 '286',
 '287',
 '288',
 '289',
 '290',
 '291',
 '292',
 '293',
 '294',
 '295',
 '296',
 '297',
 '298',
 '299',
 '300',
 'Unnamed: 494',
 'Salary.15',
 'Unnamed: 496',
 'Rk.15',
 'Player.15',
 'Tm.15',
 '2024-25.15',
 '2025-26.15',
 '2026-27.15',
 '2027-28.15',
 '2028-29.15',
 '2029-30.15',
 'Guaranteed.15',
 '301',
 '302',
 '303',
 '304',
 '305',
 '306',
 '307',
 '308',
 '309',
 '310',
 '311',
 '312',
 '313',
 '314',
 '315',
 '316',
 '317',
 '318',
 '319',
 '320',
 'Unnamed: 527',
 'Salary.16',
 'Unnamed: 529',
 'Rk.16',
 'Player.16',
 'Tm.16',
 '2024-25.16',
 '2025-26.16',
 '2026-27.16',
 '2027-28.16',
 '2028-29.16',
 '2029-30.16',
 'Guaranteed.16',
 '321',
 '322',
 '323',
 '324',
 '325',
 '326',
 '327',
 '328',
 '329',
 '330',
 '331',
 '332',
 '333',
 '334',
 '335',
 '336',
 '337',
 '338',
 '339',
 '340',
 'Unnamed: 560',
 'Salary.17',
 'Unnamed: 562',
 'Rk.17',
 'Player.17',
 'Tm.17',
 '2024-25.17',
 '2025-26.17',
 '2026-27.17',
 '2027-28.17',
 '2028-29.17',
 '2029-30.17',
 'Guaranteed.17',
 '341',
 '342',
 '343',
 '344',
 '345',
 '346',
 '347',
 '348',
 '349',
 '350',
 '351',
 '352',
 '353',
 '354',
 '355',
 '356',
 '357',
 '358',
 '359',
 '360',
 'Unnamed: 593',
 'Salary.18',
 'Unnamed: 595',
 'Rk.18',
 'Player.18',
 'Tm.18',
 '2024-25.18',
 '2025-26.18',
 '2026-27.18',
 '2027-28.18',
 '2028-29.18',
 '2029-30.18',
 'Guaranteed.18',
 '361',
 '362',
 '363',
 '364',
 '365',
 '366',
 '367',
 '368',
 '369',
 '370',
 '371',
 '372',
 '373',
 '374',
 '375',
 '376',
 '377',
 '378',
 '379',
 '380',
 'Unnamed: 626',
 'Salary.19',
 'Unnamed: 628',
 'Rk.19',
 'Player.19',
 'Tm.19',
 '2024-25.19',
 '2025-26.19',
 '2026-27.19',
 '2027-28.19',
 '2028-29.19',
 '2029-30.19',
 'Guaranteed.19',
 '381',
 '382',
 '383',
 '384',
 '385',
 '386',
 '387',
 '388',
 '389',
 '390',
 '391',
 '392',
 '393',
 '394',
 '395',
 '396',
 '397',
 '398',
 '399',
 '400',
 'Unnamed: 659',
 'Salary.20',
 'Unnamed: 661',
 'Rk.20',
 'Player.20',
 'Tm.20',
 '2024-25.20',
 '2025-26.20',
 '2026-27.20',
 '2027-28.20',
 '2028-29.20',
 '2029-30.20',
 'Guaranteed.20',
 '401',
 '402',
 '403',
 '404',
 '405',
 '406',
 '407',
 '408',
 '409',
 '410',
 '411',
 '412',
 '413',
 '414',
 '415',
 '416',
 '417',
 '418',
 '419',
 '420',
 'Unnamed: 692',
 'Salary.21',
 'Unnamed: 694',
 'Rk.21',
 'Player.21',
 'Tm.21',
 '2024-25.21',
 '2025-26.21',
 '2026-27.21',
 '2027-28.21',
 '2028-29.21',
 '2029-30.21',
 'Guaranteed.21',
 '421',
 '422',
 '423',
 '424',
 '425',
 '426',
 '427',
 '428',
 '429',
 '430',
 '431',
 '432',
 '433',
 '434',
 '435',
 '436',
 '437',
 '438',
 '439',
 '440',
 'Unnamed: 725',
 'Salary.22',
 'Unnamed: 727',
 'Rk.22',
 'Player.22',
 'Tm.22',
 '2024-25.22',
 '2025-26.22',
 '2026-27.22',
 '2027-28.22',
 '2028-29.22',
 '2029-30.22',
 'Guaranteed.22',
 '441',
 '442',
 '443',
 '444',
 '445',
 '446',
 '447',
 '448',
 '449',
 '450',
 '451',
 '452',
 '453',
 '454',
 '455',
 '456',
 '457',
 '458',
 '459',
 '460',
 'Unnamed: 758',
 'Salary.23',
 'Unnamed: 760',
 'Rk.23',
 'Player.23',
 'Tm.23',
 '2024-25.23',
 '2025-26.23',
 '2026-27.23',
 '2027-28.23',
 '2028-29.23',
 '2029-30.23',
 'Guaranteed.23',
 '461',
 '462']

In [23]:
df[['Salary',
 'Unnamed: 1',
 'Rk',
 'Player',
 'Tm',
 '2024-25',
 '2025-26',
 '2026-27',
 '2027-28',
 '2028-29',
 '2029-30',
 'Guaranteed',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',]]

,Salary,Unnamed: 1,Rk,Player,Tm,2024-25,2025-26,2026-27,2027-28,2028-29,2029-30,Guaranteed,1,2,3,4,5,6,7
0,Stephen Curry,GSW,"$55,761,216","$59,606,817","$62,587,158",NaN,NaN,NaN,"$177,955,191",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Joel Embiid,PHI,"$51,415,938","$55,224,526","$57,985,752","$62,624,612","$67,263,472",NaN,"$227,250,828",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nikola Jokić,DEN,"$51,415,938","$55,224,526","$59,033,114","$62,841,702",NaN,NaN,"$165,673,578",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Kevin Durant,PHO,"$51,179,021","$54,708,609",NaN,NaN,NaN,NaN,"$105,887,630",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bradley Beal,PHO,"$50,203,930","$53,666,270","$57,128,610",NaN,NaN,NaN,"$103,870,200",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,Jaylen Nowell,NOP,"$278,782",NaN,NaN,NaN,NaN,NaN,"$278,782",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458,Didi Louzada,POR,"$268,032","$268,032","$268,032","$268,032","$268,032",NaN,"$1,340,160",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
459,AJ Griffin,HOU,"$250,000",NaN,NaN,NaN,NaN,NaN,"$250,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,Javon Freeman-Liberty,TOR,"$100,000",NaN,NaN,NaN,NaN,NaN,"$100,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461,Javante McCoy,DET,"$32,596",NaN,NaN,NaN,NaN,NaN,"$32,596",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN